{% extends 'base.html' %}

{% block menu %}
   <li id="mouse-over"><a href="{{ url_for('home') }}">Home</a></li>
{% endblock %}

{% block content %}
	<div class="container">
	  <h1 style="text-align: center">Sign Up</h1>
       	<fieldset>
           <form  method="POST" action="{{ url_for('signup') }}">
		   {{ form.hidden_tag() }}
    		   <p>{{ form.username.label}}<br> 
	           {{form.username}} 

		   {% for error in form.username.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

		   <p>{{form.password1.label}}<br>
	           {{form.password1}}

		   {% for error in form.password1.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

		   <p>{{form.password2.label}}<br>
	           {{form.password2}}
		   {% for error in form.password2.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

    		   <p>{{form.email.label}}<br>
                   {{form.email}}

		   {% for error in form.email.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

    		   <p>{{form.submit}}</p>
             </form>
             <div class="card-footer text-muted text-center" style="color: blue">
               Already have an account? <a href="{{ url_for('login') }}">Log in</a>
             </div>
	  </fieldset>
	</div>
{% endblock %}


{% block foot %}
  <p>TampaBay LaunchCode 2017</p>
{% endblock %}

